.section-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #1A1A1A;
    position: relative;
}
#slides h1 {
    color: rgba( 255, 255, 255, 0.8 );
    margin-top: 20%;
    font-size: 70px;
}
.slide-item {
    height: 250px;
    background: #1A1A1A;
    padding: 0px;
    position: relative;
    overflow: hidden;
}
.slide-item .slide-title {
    position: absolute;
    top: 0px;
    text-align: center;
    color: #000;
    width: 100%;
    font-size: 20px;
}
.slide-item .slide-p {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.slide-item img {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    position: absolute;
    top: 0px;
    left: 0px;
}