* {
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Crete Round', serif;
}

/* -------------------
 * MENU LATERAL
 *
 --------------------*/
#menu-lateral {
    height: 100%;
    width: 230px;
    background: #333;
    position: fixed;
    top: 0;
    left: -230px;
    color: #fff;
    z-index: 9999;
    transition: .25s;
}
#menu-lateral #title-menu {
    margin: 5px;
}
#menu-lateral #title-menu h1 {
    font-size: 30px;
    display: inline-block;
    margin-left: 5px;
    margin-top: 12px;
}
#menu-lateral #title-menu i {
    font-size: 30px;
    display: inline-block;
    position: absolute;
    right: 0;
    margin-right: 5px;
    top: 20px;
}
#menu-lateral .lista {
    list-style: none;
    padding-left: 13px;
}
#menu-lateral .lista li {
    margin: 24px;
}
#menu-lateral .lista a {
    color: #fff;
    font-size: 20px;
}
#menu-lateral.active {
    left: 0px;
}

/* -------------------
 * PRIMEIRO PAINEL
 *
 --------------------*/
#first-panel {
    height: 100vh;
    position: relative;
    background: url( https://cdn.homeshave.com.br/skin/frontend/homeshave/default/imgs/background_craft-min.jpg );
    margin-top: 0px;
}
#first-panel h1 {
    font-size: 100px;
    margin-top: 100px;
}
#first-panel h1 img {
    display: inline-block;
}
#first-panel #slogan {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100px;
}
.menu {
    width: 25px;
    height: 16px;
    padding: 0px;
    position: relative;
    margin-top: 7px;
}
.menu span {
    width: 100%;
    height: 2px;
    background: black;
    display: inline-block;
    position: absolute;
}
.menu .middle {
    top: 7px;
}
.menu span:last-child {
    bottom: 0px
}
#first-panel .col-xs-4:last-child {
    padding-top: 5px;
}

/* -------------------
 * PRIMEIRO SERVICOS
 *
 --------------------*/
#services-panel {
     background: #FEF6DC;
}
#services-panel h2 {
     font-size: 80px;
     margin-top: 50px;
     margin-bottom: 60px;
}
#first-panel h2 .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: inline-block;
}
#services-panel .mobile-screen-wrapper {
    padding: 10px;
}
#services-panel .mobile-screen-wrapper .mobile-screen {
     height: 550px;
     background: transparent;
     display: inline-block;
}
#services-panel .mobile-screen-wrapper .mobile-screen img {
    width: 300px;
    height: 550px;
}
#services-panel .mission {
    background: #202020;
    padding-top: 250px;
    margin-top: -150px;
    padding-bottom: 50px;
    color: #f1f1f1;
    font-size: 20px;
}
@media screen and (min-width: 641px) {
    #services-panel .service:first-child {
        margin-bottom: 100px;
    }
}
@media screen and (max-width: 640px) {
    #services-panel .service {
        margin: 0px;
        padding: 20px 10px;
    }
    #services-panel .service h4 {
        font-size: 45px !important;
    }
    #services-panel .col-sm-4.text-left, #services-panel .col-sm-4.text-right {
        text-align: center !important;
    }
}
#services-panel .service h4 {
    color: #CCAE85;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
}

/* -------------------
 * CASES TITLE
 *
 --------------------*/
#cases {
    z-index: 8888;
}
#cases .backgroung-image-1 {
    background-image: url( ../../images/copos.png );
}
#cases .backgroung-image-2 {
    background-image: url( //res.cloudinary.com/hjqklbxsu/image/upload/f_auto,fl_lossy,q_auto/v1469204806/side/t/process_taste_tablet_opt.jpg );
    background-repeat: no-repeat;
    background-size: cover;
}
#cases .backgroung-image-3 {
    background-image: url( ../../images/image2.jpg );
    background-repeat: no-repeat;
    background-size: cover;
}
#cases .title-wrapper {
    background: url( https://lh3.googleusercontent.com/-SNbMYxJx8xI/WcqcVOKYtOI/AAAAAAAABIo/1KuQikd1ShMxhhyqxSSYolLPRb5BQz1YQCK8BGAs/s512/2017-09-26.png );
    background-size: cover;
}
#cases .title-wrapper .title {
    font-size: 80px;
    padding: 40px;
    padding-top: 70px;
    color: #f1f1f1;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
}
#cases .mobile {
    z-index: 9999;
    margin-top: -50px;
}
#cases .mobile .mobile-wrapper {
    width: 279px;
    height: 551px;
    background: transparent;
    z-index: 9999;    
    display: inline-block;
}
#cases .mobile .mobile-wrapper img {
    width: 279px;
    height: 551px;
}
@media screen and (max-width: 640px) {
    #cases .description {
        padding: 40px;
        padding-bottom: 87px;
        color: #fff;
    }
}
@media screen and (min-width: 641px) {
    #cases .description {
        padding: 150px;
        color: #fff;
    }
}

#cases .description p {
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
}

/* -------------------
 * CLIENTES
 *
 --------------------*/
#clientes {
    padding-top: 100px;
}
#clientes h1 {
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 80px;
    color: #666;
}
#clientes .itau {
    padding: 40px 108px;
    filter: opacity(82%);
}
#clientes .sansung {
    padding: 53px;
    filter: grayscale(100%);
}
#clientes .contaagil {
    padding: 40px;
    filter: grayscale(100%);
}

/* -------------------
 * CONTACT
 *
 --------------------*/
#contact {
    margin-top: 90px;
    padding-top: 80px;
    background-color: #FEF6DC;
    color: #CCAE85;
}
#contact .contact-profile {
    width: 100px;
}
#contact h1 {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 80px;
}
#contact p {
    margin: 0 0 1px;
}
#contact .maps-wrapper {
    margin-top: 40px;
    height: 450px;
    overflow: hidden;
    padding: 0px;
}
@media screen and (max-width: 640px) {
    #contact .col-md-4.text-left, #contact .col-md-4.text-right {
        text-align: center !important;
        margin: 40px;
    }
}

/* -------------------
 * EQUIPE
 *
 --------------------*/
#equipe {
    padding-top: 100px;
    padding-bottom: 100px;
    background: url( https://lh3.googleusercontent.com/-SNbMYxJx8xI/WcqcVOKYtOI/AAAAAAAABIo/1KuQikd1ShMxhhyqxSSYolLPRb5BQz1YQCK8BGAs/s512/2017-09-26.png );
    background-size: cover;
    color: #fff;
}
#equipe .team-profile {
    width: 100px;
    margin-bottom: 20px;
}
@media screen and (max-width: 640px) {
    #equipe .margin-top-col {
        margin-top: 100px;
    }
}

/* -------------------
 * FOOTER
 *
 --------------------*/
#footer {
    background: #202020;
    padding: 20px;
}
#footer .col-image {
    border-right: solid 1px #fff;
}
#footer img {
    height: 90px;
    width: 90px;
}
#footer a {
    color: #fff;
}


/*background-image: url(//res.cloudinary.com/hjqklbxsu/image/upload/f_auto,fl_lossy,q_auto/v1501259328/side/t/HoneyVidTablet.jpg);*/