/* -------------------
 * PRIMEIRO PAINEL
 *
 --------------------*/
#first-panel {
    height: 100vh;
    position: relative;
    background: url( https://cdn.homeshave.com.br/skin/frontend/homeshave/default/imgs/background_craft-min.jpg );
    margin-top: 0px;
}
#first-panel h1 {
    font-size: 100px;
    margin-top: 100px;
}
#first-panel #slogan {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100px;
}

.menu {
    width: 25px;
    height: 16px;
    padding: 0px;
    position: relative;
    margin-top: 7px;
}

.menu span {
    width: 100%;
    height: 2px;
    background: black;
    display: inline-block;
    position: absolute;
}

.menu .middle {
    top: 7px;
}

.menu span:last-child {
    bottom: 0px
}
#first-panel .col-xs-4:last-child {
    padding-top: 5px;
}

/* -------------------
 * PRIMEIRO SERVICOS
 *
 --------------------*/
#services-panel {
     background: #FEF6DC;
}
#services-panel h2 {
     font-size: 80px;
     margin-top: 50px;
     margin-bottom: 60px;
}
#services-panel .mobile-screen-wrapper {
    padding: 10px;
}
#services-panel .mobile-screen-wrapper .mobile-screen {
     width: 320px;
     height: 550px;
     background: transparent;
     display: inline-block;
}
#services-panel .mobile-screen-wrapper .mobile-screen img {
    width: 320px;
    height: 550px;
}
#services-panel .mission {
    background: #202020;
    padding-top: 250px;
    margin-top: -150px;
    padding-bottom: 50px;
    color: #f1f1f1;
    font-size: 20px;
}

/* -------------------
 * CASES TITLE
 *
 --------------------*/
#cases {
    z-index: 8888;
}
#cases .backgroung-image-1 {
    background-image: url( ../../images/copos.png );
}
#cases .backgroung-image-2 {
    background-image: url( //res.cloudinary.com/hjqklbxsu/image/upload/f_auto,fl_lossy,q_auto/v1469204806/side/t/process_taste_tablet_opt.jpg );
    background-repeat: no-repeat;
    background-size: cover;
}
#cases .backgroung-image-3 {
    background-image: url( ../../images/image2.jpg );
    background-repeat: no-repeat;
    background-size: cover;
}
#cases .title-wrapper {
    background: url( https://lh3.googleusercontent.com/-SNbMYxJx8xI/WcqcVOKYtOI/AAAAAAAABIo/1KuQikd1ShMxhhyqxSSYolLPRb5BQz1YQCK8BGAs/s512/2017-09-26.png );
    background-size: cover;
}
#cases .title-wrapper .title {
    font-size: 80px;
    padding: 40px;
    padding-top: 70px;
    color: #f1f1f1;
}
#cases .mobile {
    z-index: 9999;
    margin-top: -50px;
}
#cases .mobile .mobile-wrapper {
    width: 320px;
    height: 500px;
    background: #333;
    z-index: 9999;    
    display: inline-block;
}
#cases .description {
    padding: 150px;
    color: #fff;
}

/* -------------------
 * CLIENTES
 *
 --------------------*/
#clientes {
    padding-top: 100px;
}

/* -------------------
 * CONTACT
 *
 --------------------*/
#contact {
    padding-top: 100px;
}
#contact .contact-profile {
    width: 100px;
}
#contact h1 {
    margin-bottom: 50px;
}
#contact .maps-wrapper {
    height: 400px;
    overflow: hidden;
}

/* -------------------
 * EQUIPE
 *
 --------------------*/
#equipe {
    padding-top: 100px;
    padding-bottom: 100px;
    background: url( https://lh3.googleusercontent.com/-SNbMYxJx8xI/WcqcVOKYtOI/AAAAAAAABIo/1KuQikd1ShMxhhyqxSSYolLPRb5BQz1YQCK8BGAs/s512/2017-09-26.png );
    background-size: cover;
    color: #fff;
}
#equipe .team-profile {
    width: 100px;
    margin-bottom: 20px;
}

/* -------------------
 * FOOTER
 *
 --------------------*/
#footer {
    background: #202020;
    padding: 20px;
}
#footer .links {
    padding-left: 152px;
}
#footer .col-image {
    border-right: solid 1px orange;
}
#footer img {
    height: 90px;
    width: 90px;
    background-color: #fff;
}
#footer a {
    color: #fff;
}


/*background-image: url(//res.cloudinary.com/hjqklbxsu/image/upload/f_auto,fl_lossy,q_auto/v1501259328/side/t/HoneyVidTablet.jpg);*/